# {{ ansible_managed }}

listen={{ nats_leaf_port }}

{% if nats_websocket_enabled %}
websocket {
  port: {{ nats_websocket_port }}
  no_tls: true
}
{% endif %}

jetstream {
    domain={{ nats_leaf_domain }}
    store_dir="{{ nats_leaf_store_dir }}"
}

leafnodes {
  remotes = [
    {
      {% if nats_credentials_used %}
      credentials: "{{ nats_credentials_file_path_target }}"
      {% endif %}
      urls: [
        {% for url in nats_server_urls %}
        "{{ url }}",
        {% endfor %}
      ]
    }
  ]
}
